* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #cddef1;
    font-family: 'Poppins',sans-serif;
}

.card-container {
    width: 80%;
    background-color: white;
    box-shadow: 10px 10px 80px 10px #bababa6d;
    border-radius: 2rem;
    padding: 20px 20px 40px;
    margin: 100px auto;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.qr-code-img img{
    width: 100%;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.content h1 {
    color: #1e1e34;
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

.content p {
    color: #7c7c7c;
    font-size: 0.9rem;
    text-align: center;
}

.attribution { 
    color: #2e2e2e;
    font-size: 1rem; 
    text-align: center;
}

.attribution a { 
    color: #3f57b4;
    text-decoration: none;
}

/* Ipad */
@media (min-width: 768px) { 
    .card-container {
        width: 50%;
    }
}

@media (min-width: 992px) { 
    .card-container {
        width: 40%;
    }
 }

@media (min-width: 1200px) { 
    .card-container {
        width: 22%;
    }
}